server:
  port: 8085

spring:
  application:
    name: user-service
  datasource:
    url: ${SPRING_DATASOURCE_URL:jdbc:postgresql://localhost:5432/videostep_user}
    username: ${SPRING_DATASOURCE_USERNAME:videostep}
    password: ${SPRING_DATASOURCE_PASSWORD:videostep}
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true

eureka:
  client:
    service-url:
      defaultZone: ${EUREKA_CLIENT_SERVICE_URL_DEFAULTZONE:http://localhost:8761/eureka/}

logging:
  level:
    com.videostep: DEBUG

openai:
  api:
    key: ${OPENAI_API_KEY}