server:
  port: 8081

spring:
  application:
    name: auth-service
  datasource:
    url: jdbc:postgresql://localhost:5432/videostep_auth
    username: videostep
    password: videostep
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/

jwt:
  secret: VideoStepSecretKeyForJWTTokenGeneration12345678901234567890
  expiration: 86400000

logging:
  level:
    com.videostep: DEBUG
    org.springframework.security: DEBUG

