server:
  port: 8082

spring:
  application:
    name: video-service
  datasource:
    url: ${SPRING_DATASOURCE_URL}
    username: ${SPRING_DATASOURCE_USERNAME:${DB_USERNAME:${MYSQL_USER:videostep}}}
    password: ${SPRING_DATASOURCE_PASSWORD:${DB_PASSWORD:${MYSQL_PASSWORD:videostep}}}
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQLDialect
        format_sql: true
  servlet:
    multipart:
      enabled: true
      max-file-size: 500MB
      max-request-size: 500MB

eureka:
  client:
    service-url:
      defaultZone: ${EUREKA_CLIENT_SERVICE_URL_DEFAULTZONE:http://localhost:8761/eureka/}

aws:
  s3:
    bucket: videostep-videos
    region: ap-northeast-1

logging:
  level:
    com.videostep: DEBUG

openai:
  api:
    key: ${OPENAI_API_KEY}
