server:
  port: 8082

spring:
  application:
    name: video-service
  datasource:
    url: jdbc:postgresql://localhost:5432/videostep_video
    username: videostep
    password: videostep
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true
  servlet:
    multipart:
      enabled: true
      max-file-size: 500MB
      max-request-size: 500MB

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/

aws:
  s3:
    bucket: videostep-videos
    region: ap-northeast-1

logging:
  level:
    com.videostep: DEBUG

openai:
  api:
    key: ${OPENAI_API_KEY}
