server:
  port: 8084

spring:
  application:
    name: editing-service
  datasource:
    url: ${SPRING_DATASOURCE_URL:${DATABASE_URL:jdbc:postgresql://localhost:5432/videostep_editing}}
    username: ${SPRING_DATASOURCE_USERNAME:${DATABASE_USERNAME:videostep}}
    password: ${SPRING_DATASOURCE_PASSWORD:${DATABASE_PASSWORD:videostep}}
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true

eureka:
  client:
    service-url:
      defaultZone: ${EUREKA_CLIENT_SERVICE_URL_DEFAULTZONE:http://localhost:8761/eureka/}

logging:
  level:
    com.videostep: DEBUG

openai:
  api:
    key: ${OPENAI_API_KEY}

